<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuanian.mapper.UsercodeMapper">

    <insert id="insterUsercode" parameterType="Usercode" >
       insert into usercode (usercode)values (#{usercode,jdbcType=VARCHAR})
     </insert>
    <select id="findUsercodeByid" resultType="Usercode">
            select * from usercode where usercode =#{usercode};
        </select>
</mapper>